a {
    color: #fff;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 1em;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 4em;
    font-weight: 800;
    color: #16171C;
}

.nav-header {
    color: #fff;
    font-weight: 800;
    font-size: 1.5em;
}

.navbar a:hover {
    color: #65D88E;
}

.navbar {
    background-color: #16171C;
    padding: 1em;
    position: relative;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.navbar .container {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar-nav li {
    padding: .5em;
    margin: 0 .5em;
}

#parent {
    position: relative;
}

.image_box {
    width: 100%;
    height: 40rem;
    position: relative;
  }
  
  .image_div {
    height: 100%;
    width: 100%;
  }
  
  .image_div img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }
  
  .starttext {
    height: 30em;
    position: absolute;
    top: 0;
    margin-top: 10rem;
    width: 50rem;
    height: auto;
  }

  .starttext h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 4em;
    font-weight: 800;
    color: #16171C;
  }

  .starttext h5 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5em;
    margin-bottom: 5px;
    margin-left: 4px;
    color: #16171C;
  }

  .button {
    background-color: #16171C;
    padding: .7em 1.2em;
    color: #65D88E;
    font-size: 1.5em;
    border-radius: 50px;
    display: inline-block;
    margin-top: 50px;
  }

  .home-button:hover {
    background-color: #65D88E;
    color: #16171C;
  }


  .footer-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list li {
    margin-left: 0;
    margin-right: 0;
}

.footer {
    background-color: #16171C;
    position: relative;
}

.footer .container {
    display: flex;
    align-items:center;
    width: 100%;
    margin-top: 10em;
}

.footer-item {
    display: flex;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 3em;
}

.footer-item p {
    padding-left: 1em;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    padding-right: 3.5em;
    font-weight: 500;
}

.footer-item img {
    height: 1.5em;
}

.footer h1 {
    color: #fff;
    font-weight: 800;
    font-size: 1.5em;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 1.5em;
}

.footer h5 {
    color: #898989;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 1em;
    margin-bottom: 2em;
}

.home-paragraph {
    padding: 6em 0em;
    color: #16171C;
    background-color: #fff;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Fira Sans', sans-serif;
}

.image-table {
    display: flex;
}

.image-table img {
    max-width: 50%;
    max-height: 50%;
    min-width: 50%;
    object-fit: cover;
}

.image-table img:hover{
    filter: brightness(25%);
}

.home-end-section {
    width: 50%;
    background-color: #3D44B3;
    padding: 5em;
}

.home-end-section h1 {
    color: #65D88E;
    font-family: 'Fira Sans', sans-serif;
    font-size: 4em;
}

.home-end-section a{
    background-color: #65D88E;
    color: #16171C;
    margin-top: 1em;
}

.home-end-section a:hover {
    background-color: #fff;
    color: #3D44B3;
}

.about-background {
    background-image: url(../images/about_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    background-attachment: fixed;

}

.about-start{
    margin-top: 20em;
    margin-bottom: 5em;
}

.about-start h1 {
    color: #fff;
    text-shadow: #16171C 15px 15px 80px;
}


.about-section{
    width: 50%;
    background-color: #fff;
    padding: 5em;
}


.about-section h2{
    color: #16171C;
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
}

.about-section p {
    margin-top: 2em;
    color: #16171C;
    font-size: 1em;
    font-family: 'Fira Sans', sans-serif;
    text-align: justify;
}

.about-section a{
    color: #65D88E;
    background-color: #3D44B3;
}

.about-section a:hover{
    background-color: #65D88E;
    color: #16171C;
}

.image-table-about {
    display: flex;
}

.image-table-about img {
    max-width: 50%;
    max-height: 50%;
    min-width: 50%;
    object-fit: cover;
}


.list-header {
    margin-top: 20rem;
}

.list-header h1 {
    color: #fff;
}

.list-first {
    margin-top: 3rem;
}

.blog-section {
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
    height: 21rem;
}

.blog-section img {
    width: 100%;
    
}

.blog-section h2 {
    display: inline-block;
    padding: 1rem 1.5rem;
    padding-bottom: 0;
    font-family: 'Fira Sans', sans-serif;
    color: #16171C;
}

.blog-section h3 {
    padding: 0 1.5rem;
    padding-top: .2rem;
    font-family: 'Fira Sans', sans-serif;
    color: #16171C;
}

.blog-section h4 {
    padding: 1.5rem;
    font-family: 'Fira Sans', sans-serif;
    font-size: .8rem;
    font-weight: 400;
    color: #898989;
}

.kit_year {
    float: right;
}

.blog-section:hover {
    background-color: #3D44B3;
    color: #65D88E;
}

.blog-section:hover h2{
    color: #65D88E;
}

.blog-section:hover h3{
    color: #65D88E;
}

.blog-section:hover h4{
    color: #65D88E;
}

.blog-section:hover img{
    filter: brightness(60%);
}

.blog-end-section {
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
    background-color: #3D44B3;
    padding: 3.5rem 4rem;
    height: 21rem;
}

.blog-end-section h2 {
    color: #65D88E;
    font-size: 3rem;
}

.blog-end-section a {
    margin-top: 2rem;
    background-color: #65D88E;
    color: #16171C;
}

.blog-end-section a:hover{
    background-color: #fff;
    color: #3D44B3;
}